PORT =8000
MONGODB_URI=mongodb+srv://Shailesh:<Your_Password>@cluster0.k6ctnpb.mongodb.net/?appName=Cluster0

CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=dsfd45634dtbgcmjf64ych4nm_ghv_SE_FRGYUERTRFY_AERSTDH_FJ_A$T%$^&$_dzfxgnhfv___z_dbfgfh_sadfgsdfgtheyws3rp43oiuq2
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ojihgjyfDRYFTUYGukyeTRYTYouyiutdy_defghjmdFDGFHCGH1234Xx_nhawh_hyjms
REFRESH_TOKEN_EXPIRY=10d